In [35]:
import pandas as pd
import numpy as np

In [94]:
# Import data with missing values
dataset = pd.read_csv('C:/Users/ksa/Documents/Machine Learning A-Z/Machine Learning A-Z/Machine Learning A-Z New/Part 2 - Regression/Logistic_Regression/Social_Network_Ads.csv')
dataset.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [95]:
# Creating Dummies
dataset = pd.get_dummies(dataset, columns = ['Gender'], drop_first = True)
dataset.head()

    User ID  Age  EstimatedSalary  Purchased  Gender_Male
0  15624510   19            19000          0            1
1  15810944   35            20000          0            1
2  15668575   26            43000          0            0
3  15603246   27            57000          0            0
4  15804002   19            76000          0            1

In [120]:
X = dataset.iloc[:, :-1].values
Y = dataset.iloc[:, 3].values

In [127]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.25, random_state = 0)

In [128]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.transform(X_test)

## SVM Classification

In [103]:
from sklearn.svm import SVC

In [129]:
#Fitting SVM to training dataset
classifier = SVC(kernel = 'linear', random_state  = 0)
classifier.fit(X_train, Y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=0, shrinking=True, tol=0.001,
    verbose=False)

In [130]:
# Predicting SVM model on the test dataset 
y_pred = classifier.predict(X_test)

In [131]:
# Confusion matrix to check the model performance
from sklearn.metrics import confusion_matrix
confusion_matrix(Y_test, y_pred)

array([[68,  0],
       [ 0, 32]], dtype=int64)